.contact-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-grow: 1;
}

.contact-main-section .support-text {
    font-size: 1.3em;
    margin: 0px;
    font-weight: bold;
}

.support-color {
    color: rgb(11, 135, 250);
    padding: 0px;
}

.contact-main-section .vector-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    flex-direction: column;
}

.contact-main-section .vector-img {
    background-image: url(/img/contact\ 1.png);
    min-width: 60vw;
    max-height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    flex-grow: 1;
}

.contact-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    margin: 1.6rem;
    text-align: justify;
}

.explore-btn {
    color: white;
    background-color: #9C29E2;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    align-self: center;
    text-decoration: none;
    border-radius: 0.5rem;
    flex-grow: 1;
}

.circle-contact-1 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgba(102, 178, 178, 0.1);
    top: 15vw;
    left: 1vw;
    z-index: -1;
}

.circle-contact-2 {
    position: absolute;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: rgba(88, 25, 99, .15);
    top: 25vh;
    left: 38vw;
    z-index: -1;
}

.circle-contact-3 {
    position: absolute;
    overflow: hidden;
    width: 15vw;
    height: 15vw;
    top: 2vw;
    right: 0;
    z-index: -1;
}

.circle-contact-3::before {
    content: '';
    transform: translateX(40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(102, 178, 178, 0.1);
}